body,html {
  margin: 0;
  background-color:#E5E5E5;
  padding: 0;
  font-family: Poppins;
  font-style: normal;
  color: #313131;
  overflow-x: hidden;
  }
  /**Hero-Image**/
  .hero-container {
  background-image:  url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 5rem;
  }
  .hero-content{
  margin-left: 2rem;
  }
  .hero-content h2{
  font-weight: bold;
  }
  .hero-content h2 span{
  font-weight: normal;
  font-size: 0.8rem;
  }
  #clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 1.9rem;
  margin-left: 1rem;
  }
  #clockdiv > h2{
  font-weight: bold;
  }
  #clockdiv > div{
  padding: 0.1rem;
  border-radius: 0.2rem;
  background: #8F0A42;
  display: inline-block;
  }
  #clockdiv div > span{
  padding: 0.17rem;
  border-radius: 0.2rem;
  background: #A10043;
  display: inline-block;
  }
  .smalltext{
  padding-top: 0.2rem;
  font-size: 1rem;
  }
  /**Application Screen**/
  .app-text{
  text-align: center;
  font-weight: 600;
  padding-top: 4rem;
  font-size: 2rem;
  line-height: 3rem;
  color: #313131;
  }
  .uk-grid {
  padding-left: 5rem;
  }
  .uk-slideshow 
  [class*=uk-position-bottom] {
  position: relative!important;
  }
  /**Work**/
  .works{
  text-align: center;
  color: #8F0A42;
  font-weight: bold;
  padding-top: 4rem;
  }
  .works-text{
  text-align: center;
  margin: 2rem 3rem;
  color: #7B7B7B;
  font-weight: bold;
  }
  .cards{
  padding-top: 2rem;
  }
  .card{
  width: 75%;
  background: #FFFFFF;
  padding: 1rem;
  border-radius: 0rem 3.1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  text-align: center;
  }
  .card-img-top{
  text-align: center;
  width: 4rem;
  height: 3rem;
  }
  .card-title{
  font-weight: bold;
  color: #313131;
  }
  .card-text{
  font-weight: 31.25rem;
  line-height: 1.6rem;
  color: #7B7B7B;
  }
  /**Stay In Touch**/
  .Subscribe-container{
  text-align: center;
  margin-top: 80px;
  }
  .Subscribe-container h4{
  font-weight: bold;
  font-size: 2rem;
  }
  .email{
  width: 15rem;
  height: 3rem;
  background: #FFFFFF;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  text-align: center;
  border: 0px;
  }
  .Subscribe {
  display: inline-block;
  background: #8F0A42;
  border-radius: 0.9rem;
  font-size: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  width: 9rem;
  height: 3rem;
  transition: 0.3s;
  }
  .Subscribe:hover {
  background-color: #FFFFFF;
  color: #8F0A42;
  transition: 0.3s;
  }
  /**About The App**/
  .about-wrapper{
  padding-top: 4rem;
  padding-left: 1rem;
  }
  .feature-box{
  padding-top: 5rem;
  font-size: 1.3rem;
  }
  .feature-box h3{
  margin-bottom: 1rem;
  font-weight: bold;
  }
  .feature-box p{
  color: #333;
  font-weight: normal;
  }
  .feature-image{
  width: 75%;
  padding: 30px;
  }
  /**Delivery**/
  .deliver{
  height: 100vh;
  background: #F1F1F1;
  }
  .deliver-title{
  color: #313131;
  }
  .deliver-text{
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #7B7B7B;
  }
  .logo3{
  width: 10rem;
  height: 3rem;
  margin-left: 5rem;
  }
  .btn{
  border: 0.02rem solid #000000;
  }
  .mock-img{
  margin-left: -1rem;
  margin-top: -1rem;
  }
  
