body,html {
  margin: 0;
  background-color:#E5E5E5;
  padding: 0;
  font-family: Poppins;
    font-style: normal;
    color: #313131;
  }
  /**Hero-Image**/
  .hero-image {
  background-image:  url("../img/brooke-lark-08bOYnH_r_E-unsplash 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100vh; 
}
  .hero-logo{
    position: absolute;
    left: 7.813rem;
    top: 4.188rem;
  }
  .hero-text {
    position: absolute;
    width: 29.5rem;
    height: 15.31rem;
    left: 7.8rem;
    top: 5rem;    
  }
  .h-text{
  position: absolute;
  top: 6.25rem;
  font-weight: 600;
  font-size: 1.65rem;
  line-height: 2rem;
  text-transform: capitalize;
  }
  .p-text{
  position: absolute;
  top: 13rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #000000;
  }
  .hero-text button {
  display: inline-block;
  background: #8F0A42;
  border-radius: 0.5rem;
  font-weight: 37.5rem;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  width: 11rem;
  height: 4rem;
  top: 17rem;
  }
  .logo2{
  position: absolute;
  width: 19rem;
  height: 20rem;
  left: -5rem;
  top: 31rem;
  }

  /**Application Screen**/
.app-text{
    position: absolute;
width: 320px;
height: 48px;
left: 540px;
top: 43rem;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #313131;
}
.col-md-3{
  position: absolute;
width: 201px;
height: 27px;
left: 130px;
top: 52.5rem;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #7B7B7B;
}
.features{
  position: absolute;
width: 13.3rem;
height: 6.8rem;
left: 1rem;
top: 2rem;
font-weight: 500;
font-size: 2.25rem;
line-height: 2.5rem;
color: #313131;
}
.view{
  position: absolute;
width: 12.5rem;
height: 2.25rem;
left: 1rem;
top: 7rem;
font-weight: 500;
font-size: 1.5rem;
line-height: 2.25rem;
color: #313131;
}
.col-md-8{
  position: absolute;
width: 53rem;
height: 466.41px;
left: 30rem;
top: 52.5rem;
}

/**Work**/
.work-image{
  position: absolute;
width: 4rem;
height: 2.25rem;
left: 40rem;
top: 83rem;
}
  .how{
    position: absolute;
    width: 14.3125rem;
    height: 3.375rem;
    left: 36rem;
    top: 83rem;
    font-weight: 37.5rem;
    font-size: 2.25rem;
    line-height: 3.375rem;    
    color: #313131;
  }
  .how2{
    position: absolute;
width:35.875rem ;
height: 2.625rem;
left: 27rem ;
top: 88.5rem ;
font-weight: 37.5rem;
font-size:0.875rem;
line-height: 1.3125rem;
color: #7B7B7B;
}
.container{
  position: absolute;
width:74.75rem ;
height:32.375rem;
left:7.625rem;
top: 99rem;
}
.card{
  width: 18rem;
  height: 20rem;
  background: #FFFFFF;
  border-radius: 0rem 3.125rem;
}
.card-img-top{
  position: absolute;
  width: 4.3rem;
  height: 4.3rem;
  left: 1rem;
  top: 1rem;
}
.card-body{
  position: absolute;
width: 19rem;
height: 12rem;
left: 0rem;
top: 6rem;
}
.card-title{
  font-weight: 600;
font-size: 1.3rem;
line-height: 2.3rem;
color: #313131;
}
.card-text{
  font-weight: 31.25rem;
font-size: 1.1rem;
line-height: 1.6rem;
color: #7B7B7B;
}

/**Stay In Touch**/
.stay1{
  position: absolute;
width: 49.9375rem;
height: 3rem;
left: 25rem;
top: 125.5rem;
font-weight: 31rem;
font-size: 1.6rem;
line-height: 3rem;
}
.stay2{
  position: absolute;
width: 35.5625rem;
height: 1.6875rem;
left: 30rem;
top: 130rem;
font-weight: normal;
font-size: 0.9rem;
line-height: 1.6875rem;
}
.email{
  position: absolute;
width: 35rem;
height: 4rem;
left: 25rem;
top: 135rem;
background: #FFFFFF;
box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
border-radius: 0.625rem;
text-align:center;
}
.Subscribe button {
  display: inline-block;
  background: #8F0A42;
  border: 0.01rem solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 0.9rem;
  font-weight: 35rem;
  font-size: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  width: 18rem;
  height: 3.5rem;
  left: 34.5rem;
  top: 141rem;
}
  .Subscribe button:hover {
  background-color: #FFFFFF;
  color: #8F0A42;
  }

/**About The App**/
.about{
  position: absolute;
width: 70rem;
height: 39rem ;
left: 9rem;
top: 155rem;
}
.image{
  width: 25rem;
height: 30rem;
}
.about-title{
  position: absolute;
width: 16.8rem;
height: 3.3rem;
left: 7.5rem;
top: 3rem;
  font-weight:37.5rem;
font-size: 2.3rem;
line-height: 3.4rem;
color: #313131;
}
.about-text{
  position: absolute;
width: 23.3rem;
height: 6.75rem;
left: 7.5rem;
top: 8rem;
  font-weight: 31rem;
font-size: 1rem;
line-height: 1.4rem;
color: #7B7B7B;
}

/**Delivery**/
.deliver{
  position: absolute;
  width: 100%;
  height: 29rem;
  left: -0.2rem;
  top: 190rem;
  background: #F1F1F1;
}
.deliver-title{
  position: absolute;
width: 25rem;
height: 7rem;
left: 5.5rem;
top: 3rem;
font-weight: 600;
font-size: 2rem;
line-height: 2.7rem;
text-transform: capitalize;
color: #313131;
}
.deliver-text{
  position: absolute;
width: 28.5rem;
height: 3.3rem;
left: 5.5rem;
top: 11rem;
font-size: 1.1rem;
line-height: 1.5rem;
text-transform: capitalize;
color: #7B7B7B;
}
.app{
  position: absolute;
width: 62.5rem;
height: 4.25rem;
left: 7.4375rem;
top: 21.0625rem;
}
.mockup8{
  position: absolute;
width: 820px;
height: 637.42px;
left: 495px;
top: -55px;
}
.bgimg{
  position: absolute;
left: 857px;
top: 0px;
}
.logo3{
  position: absolute;
width: 172px;
height: 50px;
left: 35rem;
top: 220rem;
}
.btn{
border: 0.02rem solid #000000;
box-sizing: border-box;
}
